.mac-book-air1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mac-book-air1-mac-book-air1 {
  width: 100%;
  height: 4510px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-air1-component6 {
  top: 2524px;
  left: 97px;
  width: 1153px;
  height: 663px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text {
  left: 73px;
  color: rgb(0, 0, 0);
  width: 323px;
  bottom: 40px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text05 {
  left: 336px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text07 {
  color: rgba(0, 0, 0, 1);
  right: 117px;
  width: 330px;
  bottom: 57px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-maskgroup {
  top: 112px;
  left: 99px;
  width: 237px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-ellipse8 {
  top: 0px;
  left: 0px;
  width: 237px;
  height: 237px;
  position: absolute;
}
.mac-book-air1-istockphoto1358034815612x6121 {
  top: -1px;
  right: -30px;
  width: 242px;
  height: 242px;
  position: absolute;
}
.mac-book-air1-pythonlogonotext1 {
  top: 112px;
  left: 754px;
  width: 242px;
  height: 242px;
  position: absolute;
}
.mac-book-air1-text09 {
  top: 387px;
  left: 138px;
  color: rgb(46, 0, 121);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text11 {
  top: 387px;
  left: 823px;
  color: rgb(46, 0, 121);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component2 {
  top: 352px;
  left: 77px;
  width: 1107px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-image {
  top: 0px;
  right: -80px;
  width: 422px;
  height: 362px;
  position: absolute;
  align-self: stretch;
}
.mac-book-air1-group98 {
  top: 18px;
  left: 0px;
  width: 676px;
  height: 344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-text13 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: left;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text15 {
  top: 70px;
  color: var(--dl-color-default-black);
  width: 676px;
  height: auto;
  position: absolute;
  font-size: 100px;
  font-style: SemiBold;
  text-align: left;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text17 {
  top: 290px;
  left: 12px;
  color: var(--dl-color-default-black);
  width: 557px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component3 {
  top: 38px;
  right: 50px;
  width: 1216px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text19 {
  top: 11px;
  left: 857px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text21 {
  top: 11px;
  left: 957px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text23 {
  top: 11px;
  left: 1115px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group2 {
  top: 0px;
  left: 0px;
  width: 116.60879516601562px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-rectangle3810 {
  top: 3px;
  left: 0px;
  width: 31px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-navlink {
  display: contents;
}
.mac-book-air1-container1 {
  top: 5px;
  left: -4px;
  width: 120.875px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  text-decoration: none;
}
.mac-book-air1-text25 {
  top: 6px;
  left: 0px;
  color: rgb(255, 255, 255);
  width: 30px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo 2;
  font-weight: 800;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text26 {
  left: 5.875px;
  color: rgb(0, 0, 0);
  width: 115px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo 2;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text27 {
  top: 0px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo 2;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group99 {
  top: 992px;
  left: 34px;
  width: 1280px;
  height: 521px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-rectangle3814 {
  left: -8px;
  width: 1280px;
  bottom: 4px;
  height: 415px;
  position: absolute;
}
.mac-book-air1-text28 {
  left: 492px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-trainsandtime {
  top: 172px;
  left: 205px;
  width: 359px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-air1-link {
  display: contents;
}
.mac-book-air1-group95 {
  top: 20px;
  left: 6px;
  width: 306px;
  height: 243px;
  position: absolute;
}
.mac-book-air1-screenshot20231206at6421 {
  top: 172px;
  left: 707px;
  width: 354px;
  height: 277px;
  position: absolute;
}
.mac-book-air1-component4 {
  top: 1778px;
  left: 180px;
  width: 985px;
  height: 440px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-clientcards {
  gap: 55px;
  top: 0px;
  left: 318px;
  width: 350px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.mac-book-air1-text30 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 40px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-ellipse5 {
  top: 137px;
  left: 0px;
  width: 233px;
  height: 233px;
  position: absolute;
}
.mac-book-air1-ellipse6 {
  top: 137px;
  left: 376px;
  width: 233px;
  height: 233px;
  position: absolute;
}
.mac-book-air1-ellipse7 {
  top: 137px;
  left: 752px;
  width: 233px;
  height: 233px;
  position: absolute;
}
.mac-book-air1-text32 {
  top: 412px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text34 {
  top: 412px;
  left: 429px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text36 {
  top: 412px;
  left: 805px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-footer {
  gap: 10px;
  top: 3557px;
  left: 48px;
  width: 1280px;
  display: flex;
  padding: 0 100px 70px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-air1-footerinfo {
  gap: 70px;
  display: flex;
  padding: 70px 0 0;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 2px 0 0;
  flex-direction: column;
}
.mac-book-air1-footerinfo1 {
  gap: 190px;
  display: flex;
  align-items: flex-start;
}
.mac-book-air1-contactinfo {
  gap: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-footermessage {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text38 {
  color: var(--dl-color-default-black);
  width: 360px;
  height: auto;
  text-align: left;
  line-height: 42px;
}
.mac-book-air1-text40 {
  color: rgba(45, 45, 45, 1);
  width: 360px;
  height: auto;
  text-align: left;
  line-height: 27px;
}
.mac-book-air1-socialicons {
  width: 0px;
  height: 0px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-textfields {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-textfields1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-textinput-desktop {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.mac-book-air1-textinput-desktop1 {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.mac-book-air1-textinput-desktop2 {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.mac-book-air1-button {
  gap: 10px;
  display: flex;
  padding: 25px 82px;
  align-items: flex-start;
  background-color: var(--dl-color-default-black);
}
.mac-book-air1-text45 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

